@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 60px;
  background: rgb(0, 0, 0);
  top: 0;
  left: 0;
  padding: 0px 0px;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 260px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 80px;
  width: 60%;
  align-items: left;
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo_name {
  font-size: 20px;
  font-weight: 400;
}
/*.sidebar.active .logo_name{
    font-osize: 20px;
 }*/
.sidebar #btn {
  position: absolute;
  color: white;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  background: #fff;
  line-height: 35px;
  text-align: center;
  opacity: 0;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
}
.sidebar.active ul li .tooltip {
  display: block;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
  pointer-events: none;
}
.sidebar.active ul li:hover .tooltip {
  opacity: 0;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #000;
  padding-left: 50px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.sidebar.active ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: white;
}
.sidebar ul li .bx-search-alt {
  position: absolute;
  z-index: 99;
  /*padding-top: 20px;*/
  color: #fff;
  font-size: px;
}
.sidebar ul li  #myInput {
  width:50px;
  background: black;
  color: rebeccapurple;
}
.sidebar.active ul li  #myInput{
  width:190px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search-alt:hover {
  background: #fff;
  color: #1d1b31;
  transition: all 0.5s ease;
  margin-top: 50px;
  align-items: top;
}

/*.sidebar ul li .bx-search-alt:hover{
    color: #11101d;
    background: white;
}*/

.sidebar ul li a {
  color: rgb(230, 18, 18);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: #11101d;
  background: rgb(187, 173, 173);
}
.sidebar ul li a i {
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 12px;
  text-align: center;
}
.sidebar .profile_content {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
}
.sidebar .profile_content .profile .profile_details a {
  opacity: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.sidebar.active .profile .profile_details a {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .profile_content .profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.sidebar .profile_content .profile .name_job {
  margin-left: 12px;
}
.sidebar .profile_content .profile .name_job .name {
  font-weight: 400;
  font-size: 15px;
}
.profile #log-out {
  position: absolute;
  left: 88%;
  transform: translateX(-50%);
  bottom: 5px;
  line-height: 50px;
  min-width: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.main_content {
 text-align: center;
 margin-left: 20px;
 
/*  position:  absolute;
  height: 100%;
/*  width: calc(100% - 240px);
    left: 275px;*/
}
.main_content .heading {
  text-align: center;
  align-items: justify;
  font-size: 25px;
  margin-top: 10px;
}


.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
